.plans-container {
    margin-top: -6.4rem;
    padding: 0 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    position: relative;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    

}

.plan {
    background: var(--caloryCard);
    color: white;
    width: 28.8rem;
    padding: 2.4rem;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    position: relative;
    z-index: 1;
    transition: .3s linear;
}

.plan:hover {
    transform: scale(1.1);
}

.plan::before {
    background: var(--planCard);
    position: absolute;
    content: "";    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.5rem;
    z-index: -1;
    opacity: 0;
    transition: .5s linear;

}
.plan:hover::before {
    opacity: 1;
}

.plan > svg {
    fill: var(--orange);
    color: var(--orange);
    width: 4rem;
    height: 4rem;
    transition: .5s linear;
}

.plan:hover > svg {
    fill: white;
    color: white;
}

.plan > :nth-child(2) {
    font-size: 1.6rem;
    font-weight: bold;
}

.plan > :nth-child(3) {
    font-size: 4.8rem;
    font-weight: bold;
}

.plan > :nth-child(5) {
    font-size: 1.28rem;
}

.features {
    display: flex;
    flex-direction: column;    
    gap: 1.6rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.6rem;
}

.feature > img {
    width: 1.6rem;
}

.plans-blur-1 {
    width: 51.2rem;
    height: 36.8rem;
    top: 9.6rem;
    left: 0rem;
}
.plans-blur-2 {
    width: 51.2rem;
    height: 36.8rem;
    top: 16rem;
    right: 0rem;
}

@media screen and (max-width: 768px) {
    .plans {
        flex-direction: column;
    }

    .plans > :nth-child(2) {
        transform: none;
    }
}