.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    /*
    width: 16rem;
    height: 4.8rem;*/
    width: 17rem;
    height: 4.8rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    //border: 1px solid red;
    /**/
    //margin-left: 10rem;
}

.header-menu>li{
    color: white;
    position: relative;
    transition: color .3s ease-in-out;
    //border: 1px solid red;
}

.header-menu>li:hover {
    color: var(--orange);
    cursor: pointer;
}

/*efeito borda dinamica*/
.header-menu>li::after {
    content: "";
    width: 0%;
    height: .2rem;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .2s ease-in-out;
}

.header-menu>li:hover::after {
    width: 105%;
}

.header-social-media {
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    gap: 2.2rem;
}

.header-social-media>li {
    color: white;
    transition: color .3s ease-in-out;
}

.header-social-media>li:hover {
    color: var(--orange);
}

@media screen and (max-width: 768px) {
    .header > :nth-child(2) {
        position: fixed;
        right: 3.2rem;
        z-index: 99;
        /* Não e necessário ter essas propriedades aqui e so colocar tudo no .header-menu*/
    }
    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 3.2rem;
    }
}