.Join{
    display: flex;
    padding: 0 3.2rem;
    gap: 16rem;
}

.left-j{
    color: white;
    font-size: 4.8rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    
}

.left-j>hr{
    position: absolute;
    width: 16.8rem;
    border: .2rem solid var(--orange);
    border-radius: 20%;
    margin: -1rem 0;
}

.left-j>div {
    display: flex;
    gap: 1.6rem;
}

.right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.email-container{
    display: flex;
    gap: 4.8rem;
    background: gray;
    padding: 1.6rem 3.2rem;
    border-radius: 1rem;

}

.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgray);
}

::placeholder{
    color: var(--lightgray);
}

.btn-j {
    background-color: var(--orange);
    color: white;
    //border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .Join {
        flex-direction: column;
        gap: 1.6rem;
    }
    .left-j {
        font-size: x-large;
        flex-direction: column;
    }
    .right-j {
        padding: 3.2rem;
    }
}