.scrollTopButton {
    background-color: var(--orange);
    color: var(--appColor);
    font-size: 2.5rem;
    border-radius: 1rem;
    
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 12px;
    opacity: 0;
    z-index: 3;
    transition:  .4s ease-in-out;

}

.scrollTopButton.visible {
    opacity: 1;
}

.scrollTopButton > a {
    display: flex;
    aling-items: center;
    justify-content: center;
}