.scrollTopButton {
    background-color: var(--orange);
    color: var(--appColor);
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    font-size: 2rem;
    border-radius: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}

.scrollTopButton.visible {
    visibility: visible;
    opacity: 1;
}

.scrollTopButton > a {
    display: flex;
    aling-items: center;
    justify-content: center;
    padding: 1.5rem;
}