.whatsappButton {
    background-color: hsla(145, 60%, 50%);;
    color: white;
    position: fixed;
    bottom: 4.7rem;
    left: 4.7rem;
    font-size: 4rem;
    border-radius: 50%;
    z-index: 3;
    transition: all .4s ease-in-out;
}
.whatsappButton:hover {
    filter: none;
    transform: scale(1.2);
    box-shadow: 0 .5rem 3rem hsla(145, 60%, 50%, 1);
}

.whatsappButton > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}