.Programs {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 0 3.2rem;
  }

  .programs-header {
    display: flex;
    gap: 8rem;
    font-weight: bold;
    font-size: 4.8rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
  }

  .program-categories {
    display: flex;
    gap: 1.6rem;
  }

  .category {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 3.2rem;
    gap: 1.6rem;
    color: white;
    justify-content: space-between;
  }

  .category > :nth-child(1) {
    width: 3.2rem;
    height: 3.2rem;
    fill: white;
  }

  .category > :nth-child(2) {
    font-size: 1.6rem;
    font: bold;
  }

  .category > :nth-child(3) {
    font-size: 1.44rem;
    line-height: 1.5;
  }

  .join-now {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.6rem;
  }

  .join-now > img {
    width: 1.6rem;
  }

  .category:hover {
    background: var(--planCard);
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .programs-header {
      flex-direction: column;
      gap: 1.6rem;
      font-size: x-large;
      align-items: center;
      justify-content: center;
      margin-top: 3.2rem;
    }

    .program-categories {
      flex-direction: column;
    }
  }