.programs-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 3.2rem;
}

.programs-header {
  display: flex;
  gap: 8rem;
  font-weight: bold;
  font-size: 4.8rem;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.program-categories {
  display: flex;
  gap: 1.6rem;
}

.category {
  background: gray;
  color: white;
  padding: 3.2rem;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.category::before {
  background: var(--planCard);
  position: absolute;
  content: "";    
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.5rem;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s linear;

}
.category:hover::before {
  opacity: 1;
}

.category > :nth-child(1) {
  width: 4rem;
  height: 4rem;
  fill: white;
}

.category > :nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
}

.category > :nth-child(3) {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

.join-now {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
  font-weight: 700;
}

.join-now > svg {
  width: 2rem;
  height: 2rem;
  fill: white;
  stroke-width: 2rem;
}

@media screen and (max-width: 1024px) {
  .program-categories {
    flex-direction: column;
  }

  .category > :nth-child(1) {    
    width: 4.5rem;
    height: 4.5rem;
  }
  
  .category > :nth-child(2) {
    font-size: 2.5rem;
  }
  
  .category > :nth-child(3) {
    font-size: 2rem;
  }
  
  .join-now {
    font-size: 2rem;
  }
  
  .join-now > svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
    stroke-width: 2rem;
  }
}

@media screen and (max-width: 840px) {
  .programs-header {
    flex-direction: column;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 350px) {
  .programs-header {
    font-size: 3.5rem;
  }
}